.container{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

.book-container{
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 3fr));
    justify-content: center;
}

.book{
    border: 2px solid black;
}

.new-book-form{
     display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: solid;
    border-color: rgb(24, 42, 180);
    border-radius: 5px;
    margin-bottom: 10%;
    
 
}

.form{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 80%;
    height: 400px;
 
    

}

.show-form{
display: flex;
flex-direction: column;
width: 100px;
}
    



.form-part{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.alter-label{

}

label{
    display: flex;
    justify-content: center;
}

.remove-book-button{
    
}