.container{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.book-container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(3, 2fr);
    justify-content: center;
}

.book{
    border: 2px solid black;
}

.new-book-form{
     display: flex;
    flex-direction: column;
 
}

.form{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 80%;
    height: 400px;
 
    

}

.show-form{
display: flex;
flex-direction: column;
width: 100px;
}
    



.form-part{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.alter-label{
    width: 120px;
    display: inline-block;
}